.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(100%);
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
}

.hogtownLogo {
  filter: opacity(40%);
  z-index: 1;
}

.content h1, .content h2 {
  font-family: "Engravers MT", sans-serif;
    color: #ffffff;  
}

.hogtownSubtitle, .comingSoon, .hogtownTitle {
  font-weight: 400;
}

@media screen and (max-width: 799px) {
  .content {
    display: flex;
    flex-direction: column-reverse; /* Stack elements vertically */
    align-items: center; /* Center align text over the logo */
    position: relative; /* Allow stacking of text and logo */
  }

  .hogtownLogo {
    position: relative;
    z-index: 1; /* Keep logo behind the text */
  }

  .headingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text over the logo */
    align-items: center;
    z-index: 2; /* Place text above the logo */
    text-align: center; /* Center text alignment */
  }
  .hogtownTitle {
    font-size: 4.5rem; /* Scale title size */
    padding-bottom: 10px;
  }

  .hogtownSubtitle {
    font-size: 1.5rem; /* Scale subtitle size */
    padding-bottom: 30px;
    margin-top: 10px;
  }

  .comingSoon {
    font-size: 1.7rem; /* Scale 'Coming Soon' text */
    margin-top: 20px;
    padding-bottom: 60px;
  }

  .hogtownLogo {
    filter: opacity(30%);
  }
}



@media screen and (min-width: 800px) and (max-width: 1200px) {
    /* Font Sizing */
  .content h1 {
    font-size: 5.2rem;
    padding-top: 35px;

  }

  .hogtownSubtitle {
    font-size: 1.48rem;
    padding-top: 10px;
    padding-left: 20px;
  }

  .comingSoon {
    font-size: 1.92rem;
    padding-top: 80px;
  }

  .hogtownTitle, .comingSoon {
    margin-left: -130px;
  }
}

@media screen and (min-width: 1201px) {
  .content h1 {
    font-size: 8rem;
    padding-top: 35px;

  }

  .hogtownSubtitle {
    font-size: 2.3rem;
    padding-top: 10px;
    padding-left: 20px;
  }

  .comingSoon {
    font-size: 3rem;
    padding-top: 80px;
  }

  .hogtownTitle, .comingSoon {
    margin-left: -170px;
  }
}

.headingContainer {
  z-index: 2;
}