.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(100%);
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
}

.hogtownLogo {
  filter: opacity(20%);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1, .content h2 {
  font-family: "Copperplate", sans-serif;
  text-transform: capitalize;
  color: #ffffff;  
  filter: opacity(50%);
  text-align: center;
}

.hogtownSubtitle, .comingSoon, .hogtownTitle {
  font-weight: 400;
}

.hogtownSubtitle {
  margin-top: -10px;
}

@media screen and (max-width: 799px) {

  .hogtownTitle {
    font-size: 4.6rem; /* Scale title size */
  }

  .hogtownSubtitle {
    font-size: 1.9rem; /* Scale subtitle size */
    padding-bottom: 30px;
  }

  .comingSoon {
    font-size: 1.5rem; /* Scale 'Coming Soon' text */
    margin-top: 20px;
    padding-bottom: 60px;
  }
}



@media screen and (min-width: 800px) and (max-width: 1200px) {
    /* Font Sizing */
  .content h1 {
    font-size: 5.5rem;
  }

  .hogtownSubtitle {
    font-size: 2.3rem;
    margin-top: -15px;
  }

  .comingSoon {
    font-size: 1.5rem;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1201px) {
  .content h1 {
    font-size: 6rem;
  }

  .hogtownSubtitle {
    font-size: 2.5rem;
    margin-top: -15px;
  }

  .comingSoon {
    font-size: 1.8rem;
    padding-top: 50px;
  }
}

.headingContainer {
  z-index: 2;
}